.container {
	background-color: blue;
	max-height: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	gap: 20px;
	padding: 15px 30px;
}

.wrapper {
	position: relative;
}

.icon {
	position: absolute;
	bottom: 11px;
	left: 10px;
	cursor: pointer;
}
